.navbar  { 
	border: 0px; 
	background-color: #222222; 
	position: absolute; 
	top: 100%; 
	right: 5%; 
	width: 110px; 
	z-index: 999;
	
	.navbar-collapse { 
		padding: 0px; max-height: none;
	}
	.navbar-nav {
		float: none;
	}
	.nav {
		>li {
			display: block;
			float: none;
			height: 80px;

			a {
				display: block;
				height: 80px; 
				text-align: center; 
				padding-top: 30px; 
				font-weight: 600; 
				color: $white; 
			}
			a:hover,
			a:focus {
				color: #999999;
			}
		}
	}
}
.navbar-nav { 
	margin: 0px;
}

.navbar-default {
	.navbar-nav {
		> .active {
			> a,
			  a:hover,
			  a:focus { 
			  	background: $pink_1;
			  	color: $white; 
			  }
		}
	}

	navbar-toggle:hover,
	navbar-toggle:focus {
		background: #222222;
	}
}

.fixed .navbar  { position: fixed; top: 60px; } 